<log4net>
  <appender name="errorRollingFile" type="log4net.Appender.RollingFileAppender,log4net">
    <!--日志文件名-->
    <file value="log/error_.txt" />
    <preserveLogFileNameExtension value="true" />
    <!--是否在文件中追加-->
    <appendToFile value="true" />
    <!--按照文件的大小进行变换日志文件-->
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM-dd" />
    <!--最大变换数量-->
    <maxSizeRollBackups value="10" />
    <!--最大文件大小-->
    <maximumFileSize value="10MB" />
    <!--日志文件名是否为静态-->
    <staticLogFileName value="false" />
    <layout type="IFramework.Log4Net.JsonLogLayout, IFramework.Log4Net" >
    </layout>
    <!--<layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%date %5level %logger - %message%newline%newline" />
    </layout> -->
    <threshold value="ERROR" />
  </appender>
  <appender name="debugRollingFile" type="log4net.Appender.RollingFileAppender,log4net">
    <!--日志文件名-->
    <file value="log/debug_.txt" />
    <preserveLogFileNameExtension value="true" />
    <!--是否在文件中追加-->
    <appendToFile value="true" />
    <!--按照文件的大小进行变换日志文件-->
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM-dd" />
    <!--最大变换数量-->
    <maxSizeRollBackups value="10" />
    <!--最大文件大小-->
    <maximumFileSize value="10MB" />
    <!--日志文件名是否为静态-->
    <staticLogFileName value="false" />
    <layout type="IFramework.Log4Net.JsonLogLayout, IFramework.Log4Net" >
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <appender name="aopRollingFile" type="log4net.Appender.RollingFileAppender,log4net">
    <!--日志文件名-->
    <file value="log/aop_.txt" />
    <preserveLogFileNameExtension value="true" />
    <!--是否在文件中追加-->
    <appendToFile value="true" />
    <!--按照文件的大小进行变换日志文件-->
    <rollingStyle value="Composite" />
    <datePattern value="yyyy-MM-dd" />
    <!--最大变换数量-->
    <maxSizeRollBackups value="10" />
    <!--最大文件大小-->
    <maximumFileSize value="10MB" />
    <!--日志文件名是否为静态-->
    <staticLogFileName value="false" />
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="INFO" />
    </filter>
    <!-- do not log anything else -->
    <filter type="log4net.Filter.DenyAllFilter" />
    <layout type="IFramework.Log4Net.JsonLogLayout, IFramework.Log4Net" >
      <app value="WcfService" />
      <serializeMessageObject value="true" />
    </layout>
    <!--<layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date %5level %logger - %message%newline%newline" />
    </layout>-->
  </appender>
  <appender name="traceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level - %message%newline" />
    </layout>
    <threshold value="DEBUG" />
  </appender>
  <!--
  <appender name="kafkaAppender" type="log4net.Kafka.KafkaAppender, log4net.Kafka">
    <KafkaSettings>
      <brokers>
        <add value="http://localhost:9092" />
      </brokers>
      <topic type="log4net.Layout.PatternLayout">
        <conversionPattern value="Kafka.%level" />
       
      </topic>
    </KafkaSettings>
    <layout type="IFramework.Log4Net.JsonLogLayout, IFramework.Log4Net" >
      <app value="WcfService" />
    </layout>
    <threshold value="DEBUG" />
    -->
    <!--<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d [%t] %-5p %c %m%n" />
		</layout>-->
    <!--<layout type="log4net.Kafka.LogstashLayout,log4net.Kafka" >
      <app value="erp.logs" />
    </layout>-->
 <!-- </appender> -->
  <root>
    <!--all priority options： OFF、FATAL、ERROR, WARN, INFO, DEBUG, ALL-->
    <!--取消这里注释记录所有debug log
    <appender-ref ref="kafkaAppender" />  -->
    <appender-ref ref="errorRollingFile" />
    <appender-ref ref="traceAppender" />
  </root>
  <!--取消注释下面节, 指定name 的 debug log, 注意name是在logger.create时用的是className还是namespace.className -->
  <!--<logger name="logger name">  
    <level value="DEBUG"/>
    <appender-ref ref="debugRollingFile"/>
  </logger>-->
  <!--<logger name="CommandBus">
    <level value="DEBUG"/>
    <appender-ref ref="debugRollingFile"/>
  </logger>
  <logger name="CommandController">
    <level value="DEBUG"/>
    <appender-ref ref="debugRollingFile"/>
  </logger>-->
</log4net>