<configuration>
  <connectionStrings>
    <add name="ConnectionStringDefault" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-KTTP6M2;Initial Catalog=mrvinil;Persist Security Info=True;User ID=mrvinil;Password=@2789hl123456;MultipleActiveResultSets=true" />
  </connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
